[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=application/x-directory;inode/directory;application/octet-stream;
Actions=scan;
Icon=clamav-gui
X-KDE-Priority=TopLevel
X-KDE-StartupNotify=false
NO-X-KDE-Submenu=true

[Desktop Action scan]
Name=Scan with ClamAV-GUI
Name[de]=Scannen mit ClamAV-GUI
Name[de_DE]=Scannen mit ClamAV-GUI
Name[da_DK]=Scannen med ClamAV-GUI
Name[es_ES]=Analizar con ClamAV-GUI
Name[us]=Scan with ClamAV-GUI
Name[gb]=Scan with ClamAV-GUI
Name[pt]=Investigar com ClamAV-GUI
Name[br]=Investigar com ClamAV-GUI
Name[pt_BR]=Investigar com ClamAV-GUI
Name[fr]=Scanner avec ClamAV-GUI
Name[it]=Scansione con ClamAV-GUI
Name[uk]=Сканування за допомогою ClamAV-GUI
Icon=clamav-gui
Exec=clamav-gui --scan %F

